.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("mainPage3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px; 
  }

  
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; 
  }
  
  .nav-button {
    background-color: #663399;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .nav-button:hover {
    background-color: #a973ba;
  }
  
  .form-input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5%;
    box-sizing: border-box;
  }
  
  .form-button {
    background-color: #663399;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    width: 150px;
    border-radius: 4px;
  }
  
  .form-button:hover {
    background-color: #a973ba;
  }
  